Repository vanessa-opensource/add: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Проверка окружения:
  stage: Подготовка
  variables:
    GIT_STRATEGY: none
  tags:
  - vanessa-add
  script:
  - chcp 65001
  - set PATH
  - set
  - where oscript
  - oscript -version
  - where opm
  - call opm version
  - call opm list
  - where vrunner
  - call vrunner version

Сборка файлов:
  stage: Подготовка
  script:
  - chcp 65001
  - opm run init file --v8version 8.3.10
  artifacts:
    paths:
    - .\build\ib\1Cv8.1CD
    - .\*.epf
    - .\epf\**\*.*
    - .\lib\**\*.*
    - .\plugins\**\*.*
    - .\features\**\*.*
    - .\ospx\**\*.*
    - .\tests\**\*.*
    - .\tools\**\*.*
    - .\vendor\**\*.*
  tags:
  ...

Сборка пакета:
  stage: Сборка пакета
  script:
  - chcp 65001
  - opm build .
  artifacts:
    paths:
    - .\add-*.zip
    - .\add-*.ospx
  tags:
  - vanessa-add

Модульные тесты:
  stage: Тестирование
  script:
  - chcp 65001
  - call vrunner xunit tests %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-tdd/junit-tdd.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-tdd/allure.xml}"
  artifacts:
    when: always
    paths:
    - build/junit-tdd/*.xml
  ...

Дымовые тесты:
  stage: Тестирование
  script:
  - chcp 65001
  - call vrunner xunit tests/smoke %CI_VRUNNER_SETTINGS% --reportsxunit "ГенераторОтчетаJUnitXML{build/junit-smoke/junit-smoke.xml};ГенераторОтчетаAllureXMLВерсия2{build/allure-smoke/allure.xml}"
  artifacts:
    when: always
    paths:
    - build/junit-smoke/*.xml
  ...

BDD тестирование (библиотеки):
  stage: Тестирование
  script:
  - chcp 65001
  - vrunner vanessa %CI_VRUNNER_SETTINGS% --path features/libraries"
  artifacts:
    when: always
    paths:
    - ServiceBases/junitreport/*.xml
    - ServiceBases/allurereport/*.*
    reports:
      junit:
      - ServiceBases/junitreport/*.xml
  allow_failure: true
  tags:
  ...

Allure:
  stage: Allure
  variables:
    GIT_STRATEGY: none
  allow_failure: true
  script:
  - call allure generate build/allure-tdd build/allure-smoke ServiceBases/allurereport -c -o build/allure-result
  - echo Allure results - %CI_JOB_URL%/artifacts/file/build/allure-result/index.html
  artifacts:
    when: always
  ...

исправил внесенную ошибку совместимости
  plugins/Настройки/Настройки/Ext/ObjectModule.bsl
  plugins/Настройки/Настройки/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

внешние файлы собираются в один артефакт
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

кеширование epf-файлов для ускорения сборки
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправил опечатку
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

артефакт на этом шаге не нужен
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Реальные элементы в тесте записи элементов справочников
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

Новый дымовой тест "Запись групп справочников" с примером настройки
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

экранирую падение robocopy
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Исправлена ошибка. В тесте записи элементов справочников ошибочно мог выполняться тест записи групп справочников.
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

настройки артефактов для ускорения
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Решил оставить условие чтобы не рушить запрос, если попадется справочник с именем *где*
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

имя артефакта
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправил неверный ключ для восстановления
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

подключил гит при первом же этапе
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исключил лишнюю переинициализацию рабочего каталога
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исправляю восстановление
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

фишки robocopy (
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

кеширование сразу после сборки
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

код возврата от робокопи игнорим
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

кеширование файлов сборки пакета
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

поменял место этапа кеширования пакета
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

переименовал файл настроек CI
  .gitlab-ci.yml
  tools/JSON/gitlab-ci-env.json
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

копипаст с опечатками - зло
  .gitlab-ci.yml
  tools/JSON/gitlab-ci-env.json
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

не всегда ловились ошибки сети для тест-клиентов
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

совместимость с 8.3.6
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Catalog.Справочник1.Form.ФормаЭлемента.Form.xml
  lib/CF/83NoSync/Catalog.Справочник3.Template.Макет.Template.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

совместимость с 8.3.6 (#812)
  lib/CF/83/Configuration.xml
  lib/CF/83NoSync/Catalog.Справочник1.Form.ФормаЭлемента.Form.xml
  lib/CF/83NoSync/Catalog.Справочник3.Template.Макет.Template.xml
  lib/CF/83NoSync/Configuration.xml
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

fix Smoke ЗаписьЭлементовСправочников: ошибочно мог выполняться тест записи групп справочников. (#811)
  tests/smoke/тесты_ЗаписьЭлементовСправочников/тесты_ЗаписьЭлементовСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

Smoke тест программной записи групп справочников (#810)
  tests/smoke/smoke.bsp.json
  tests/smoke/smoke.example.json
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников.xml
  tests/smoke/тесты_ЗаписьГруппСправочников/тесты_ЗаписьГруппСправочников/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

fix Name 2
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form.xml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

написал про новый режим совместимости
  doc/README.md
Due: none

небольшие замечания Сонара
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

неверный путь Аллюр для бдд
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

имена артефактов
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

исключаю папку Гита из кеша
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

fix ПроверкаМакетовСКД (#806)
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Ext/ObjectModule.bsl
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form.xml
  tests/smoke/тесты_ПроверкаМакетовСКД/тесты_ПроверкаМакетовСКД/Forms/Форма/Ext/Form/Module.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, Allure

Замена ТекущаяДата()
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  examples/features/Buh30/step_definitions/Avance/Avance/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/TestClients/step_definitions/many_test_clients_one_scenario/many_test_clients_one_scenario/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсом/РаботаСИнтерфейсом/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсомДополнительный/РаботаСИнтерфейсомДополнительный/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/VB/step_definitions/VBManager/VBManager/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Данные/step_definitions/Регламентные_задания/Регламентные_задания/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/ОбычныеФормы/step_definitions/КнопкаНажималкаОбычныйИнтерфейс/КнопкаНажималкаОбычныйИнтерфейс/Ext/ObjectModule.bsl
  features/libraries/Пауза/step_definitions/СделатьПаузу/СделатьПаузу/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Плагины/step_definitions/Фича_Работа_с_FakeSMTPServer/Фича_Работа_с_FakeSMTPServer/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Условие/step_definitions/Условие/Условие/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Цикл/step_definitions/Цикл/Цикл/Forms/Форма/Ext/Form/Module.bsl
  lib/featurereader/vbFeatureReader/vbFeatureReader/Ext/ObjectModule.bsl
  lib/video/РаботаСВидео/РаботаСВидео/Forms/Форма/Ext/Form/Module.bsl
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/xunit/Gui83/юнитТест_UI_83/юнитТест_UI_83/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_СериализаторMXL/Тесты_СериализаторMXL/Ext/ObjectModule.bsl
  vendor/1C/uilogtoscript/UILogToScript/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

совместимость 8.3.8
  doc/README.md
  lib/CF/83xdd/Configuration.xml
  lib/CF/83xddNoSync/Configuration.xml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, BDD тестирование (библиотеки), Allure

кеш через гитлаб
  .gitlab-ci.yml
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

Revert "Замена ТекущаяДата()"
  epf/bddRunner/bddRunner/Ext/ObjectModule.bsl
  epf/bddRunner/bddRunner/Forms/УправляемаяФорма/Ext/Form/Module.bsl
  examples/features/Buh30/step_definitions/Avance/Avance/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/TestClients/step_definitions/many_test_clients_one_scenario/many_test_clients_one_scenario/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсом/РаботаСИнтерфейсом/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/UITestRunner/step_definitions/РаботаСИнтерфейсомДополнительный/РаботаСИнтерфейсомДополнительный/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/VB/step_definitions/VBManager/VBManager/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Данные/step_definitions/Регламентные_задания/Регламентные_задания/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/ОбычныеФормы/step_definitions/КнопкаНажималкаОбычныйИнтерфейс/КнопкаНажималкаОбычныйИнтерфейс/Ext/ObjectModule.bsl
  features/libraries/Пауза/step_definitions/СделатьПаузу/СделатьПаузу/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Плагины/step_definitions/Фича_Работа_с_FakeSMTPServer/Фича_Работа_с_FakeSMTPServer/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Условие/step_definitions/Условие/Условие/Forms/Форма/Ext/Form/Module.bsl
  features/libraries/Цикл/step_definitions/Цикл/Цикл/Forms/Форма/Ext/Form/Module.bsl
  lib/featurereader/vbFeatureReader/vbFeatureReader/Ext/ObjectModule.bsl
  lib/video/РаботаСВидео/РаботаСВидео/Forms/Форма/Ext/Form/Module.bsl
  plugins/Данные/Данные/Ext/ObjectModule.bsl
  plugins/СериализаторMXL/СериализаторMXL/Ext/ObjectModule.bsl
  plugins/ТестКлиенты/ТестКлиенты/Forms/Форма/Ext/Form/Module.bsl
  tests/smoke/тесты_ОткрытиеФормКонфигурации/Тесты_ОткрытиеФормКонфигурации/Ext/ObjectModule.bsl
  tests/xunit/Gui83/юнитТест_UI_83/юнитТест_UI_83/Forms/Форма/Ext/Form/Module.bsl
  tests/xunit/Plugins/Тесты_Данные/Тесты_Данные/Ext/ObjectModule.bsl
  tests/xunit/Plugins/Тесты_СериализаторMXL/Тесты_СериализаторMXL/Ext/ObjectModule.bsl
  vendor/1C/uilogtoscript/UILogToScript/Ext/ObjectModule.bsl
Due: Проверка окружения, Сборка файлов, Сборка пакета, Модульные тесты, Дымовые тесты, BDD тестирование (библиотеки), Allure

doc, refactor: дополнена и уточнена документация
  doc/xdd/Создание-файлов-тестов.MD
Due: none

Path conditions:
  Проверка окружения: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка файлов: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Сборка пакета: any of: epf/**/*, lib/**/*, plugins/**/*, features/libraries/**/*, ospx/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  Модульные тесты: any of: epf/**/*, lib/**/*, plugins/**/*, tests/**/*, tools/**/*, .gitlab-ci.yml
  Дымовые тесты: any of: epf/xdd*/**/*, plugins/**/*, tests/smoke/**/*, tools/**/*, .gitlab-ci.yml
  BDD тестирование (библиотеки): any of: epf/bdd*/**/*, lib/**/*, plugins/**/*, features/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
  Allure: any of: epf/**/*, lib/**/*, plugins/**/*, features/**/*, ospx/**/*, tests/**/*, tools/**/*, vendor/**/*, .gitlab-ci.yml
